$breakpoints: (
  small: 480px,
  medium: 720px,
  large: 960px,
  wide: 1200px
)!default;
@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Invalid breakpoint `#{$name}`.";
  }
  @else {
    @media (max-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}